

@font-face {
  font-family: 'Roboto-Bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(fonts/Roboto/Roboto-Thin.ttf);
}




.returnPortfolioSite {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 2%;
  width: 5vw;
  height: 5vw;
  color: black;
  font: 1.5vw Roboto-Thin;
  transition: transform ease 1s;
  background-color: wheat;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.returnPortfolioSite:hover {
  transform: translateY(-5px) scale(1.01);
}



