@media only screen and (min-width:400px) {

@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto/Roboto-Thin.ttf);
  }

































:root {

    width: 100vw;
    height: 100vh;
    height: auto;
    scroll-behavior: smooth;
    transition: all ease 1s;

}

:root::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/*
:root::-webkit-scrollbar {
    width: 10px;
  }
  
  :root::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
  }
  
  :root::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  :root::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
  }
*/



  body {
    margin: 0;
    padding: 0;

}



  #footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0);
   /* align-items: center;  /* Vertikal zentrierte Ausrichtung */
   /* justify-content: center; /* Horizontal zentrierte Ausrichtung */
    z-index: 999999;
    background-color: #1a1a1a;
}

.abdullahfooterIconAndfooterHeader {
    height: 13.6vh;
    display: flex;
    margin: 10% 0 0 15%;
}

.abdullahfooterIcon {
    margin: 0px 1.2vw -1.4vw 0;
    width: 13.6vh;
    height: 13.6vh;
    object-fit: cover;
    border-radius: 13.6vh;
}

.footerHeader { 
    text-shadow: 0 0px 1vh rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 10vh;
    font-family: Roboto-Thin;
}


.footerButtonsArea {
    margin-top: 13%;
    justify-content: center;
    display: flex;
    gap: 21vw;
    height: 13.6vh;
}

.phoneNumber {
    cursor: pointer;
    width: 30vw;
    height: 10vh;
    box-shadow: 0 0px 0.1vw rgba(199, 199, 199, 0.537);
    border: 0.01vh solid rgba(199, 199, 199, 0.537);
    border-radius: 1vw;
    background-color: transparent;
    color: white;
    font-size: 2vh;
    font-family: Roboto-Regular;
    transition: all ease 1s;
}

.phoneNumber:hover {
  font-size: 2.1vh;
  box-shadow: 0 0px .5vw rgba(199, 199, 199, 0.537);
}

.emailAdress {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0px 0.1vw rgba(199, 199, 199, 0.537);
    border: 0.01vh solid rgba(199, 199, 199, 0.537);
    border-radius: 1vw;
    width: 30vw;
    height: 10vh;
    color: white;
    font-size: 2vh;
    font-family: Roboto-Regular;
    transition: all ease 1s;
}

.emailAdress:hover {
  font-size: 2.1vh;
  box-shadow: 0 0px .5vw rgba(199, 199, 199, 0.537);
}

hr {

    width: 85%;
    border: rgba(199, 199, 199, 0.537) solid 0.01vh;
    box-sizing: border-box;
}

.clockHeader {
    position: absolute;
    left: 3.5%;
    bottom: 6%;
    color: rgb(153, 153, 153);
    font-size: 1.5vh;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}


#digitalTime {
    position: absolute;
    left: 3.5%;
    bottom: 4%;
    color: white;
    font-size: 1.5vh;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}


.footerLinksHeader {
    position: absolute;
    right: 12.2%;
    bottom: 6%;
    color: rgb(153, 153, 153);
    font-size: 1.5vh;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}

#footerLinksUl {
    position: absolute;
    right: 3.5%;
    bottom: 2%;
    font-size: 1.5vh;
    font-family: Roboto-Regular;
    color: white;
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 0 2vw;
}

#footerLinksUl li {
    transition: all ease 1s;
}

#footerLinksUl li:hover {
    transform: scale(1.3);
    filter: invert(0.2);
}
}

#footerLinksUl li a {
color: white;
text-decoration: none;
}