/* @media only screen and (min-width:1281px) { */

@font-face {
  font-family: 'Roboto-Bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(fonts/Roboto/Roboto-Thin.ttf);
}





:root {

  width: 100vw;
  height: 100vh;
  height: auto;
  scroll-behavior: smooth;
  transition: all ease 1s;

}

:root::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/*
:root::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

:root::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

:root::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}
*/




body {
  margin: 0;
  padding: 0;

}




.header{
    /* position: fixed; */
    /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0); */
    position: absolute;
    width: 100vw;
    height: 13vh;
    z-index: 100;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.headerHeading {
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
    list-style: none;
    gap: 4vw;
    color: white;
    font-family: Roboto-Thin;
    /* position: absolute;
    top: 5.5%;
    right: 5%; */
}

.headerHeading a {
    text-decoration: none;
    color: white;
}

.headerHeading li {
    z-index: 20;
    transition: all ease 0.3s;
    font-size: 2.5vh;
    color: white;
    display: flex;
}

.headerHeading li:hover {
    transition: all ease 0.3s;
    font-size: 2.7vh;
    filter: invert(0.2);
    transform: scale(1.04);
}

.portfolioIcon {
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    cursor: pointer;
    transition: all ease 0.5s;
}

.portfolioIcon:hover {
    filter: invert(0.2);
    transform: scale(1.04);
    cursor: pointer;
}








.headerFixedBackground {
  cursor: pointer;
  display: flex;
  scale: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10vh;
  background-color: wheat;
  position: fixed;
  right: 2vw;
  top: 5vh;
  height: 10vh;
  width: 5vw;
  z-index: 999998;
}

.headerFixedBackground:hover {
  background-color: rgba(158, 158, 158, 0.866);
}

.headerFixed {
  background-image: url(Bilder/menue.png);
  background-size: cover;
  height: 4vh;
  width: 2vw;
  z-index: 999999;
}



dialog::-webkit-scrollbar {
  width: 10px;
}

dialog::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

dialog::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

dialog::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}


@keyframes dialogPop {
  from {
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes dialogClose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
  }
}


.dialogButton {
  cursor: pointer;
  position: fixed;
  display: flex;
  width: 25px;
  margin: -60px 0px 0px 35px;
  transition: all ease 1s;
  z-index: 99999;
}

.dialogButton:hover {
  transform: scale(1.06);
  filter: brightness(1) invert(0.3);
}


dialog {
  cursor: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 #f1f1f1;
  position: fixed;
  border: none;
  top: 0;
  right: 0;
  background-color: #1C1D20;
  width: 35vw;
  height: 100vh;
  transition: all 2.5s;
  user-select: none;
  font-family: Roboto-Regular;
  font-size: 20px;
  animation: dialogPop 0.3s ease-in-out forwards;
  outline: none;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 0px;
  margin-right: 0%;
}

dialog.closed {
  animation: dialogClose 0.3s ease-in-out forwards;
}


dialog::backdrop {
  transition: all ease 0.5s;
  user-select: none;
}

.dialogCloseButton {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  transition: all ease 1s;
  filter: invert(0.2);
}


.dialogCloseButton:hover {
  filter: invert(0.5);
  transition: all ease 1s;
  transform: scale(1.07);
}


#dialogHeader {
/* Top und Sticky machen HeaderElemente Sticky */
  display: flex;
  width: 1010px;
  height: 100px;
  z-index: 10;
}

#dialogHeadline {
  text-shadow:  0 0px 10px rgba(0, 0, 0, 0.1);;
  color: white;
  font: 1vw Roboto-Thin;
  margin-left: 10.5%;
  margin-top: 8%;
}

.dialogHeaderHr {
  margin-top: 5%;
  width: 60%;
  border: rgba(255, 255, 255, 0.537) solid .1vh;
  box-sizing: border-box;
}



#dialogHeaderListing {
  margin-top: 10%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 4vw;
}

#dialogHeaderListing a {
  text-decoration: none;
  color: white;
}

#dialogHeaderListing a:focus {
  outline: none;
}

#dialogHeaderListing li {
  width: fit-content;
  z-index: 20;
  transition: all ease 0.3s;
  font-size: 8vh;
  color: white;
}

.dialogHome, 
.dialogAboutMe,
.dialogContact {
  list-style: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}

.dialogHome:hover,
.dialogAboutMe:hover,
.dialogContact:hover {
list-style: none;
border-bottom: 2px solid rgb(255, 255, 255);
}






.dialogMotivationalTextHeader {
  margin-left: 20%;
  margin-top: 5%;
  font: 3.5vh Roboto-Regular;
  gap: 3vw;
  color: white;
  text-decoration: underline;
}


.dialogMotivationalText {
  margin-top: -5%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5vw;
  height: 13.6vh;
}

.dialogMotivationalText p {
  color: white;
  font: 2.2vh Roboto-Thin;
  transition: all ease 1s;
}

.dialogMotivationalText p:hover {
font-size: 2.3vh;
}