@media only screen and (max-width: 500px) {
  @font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto/Roboto-Thin.ttf);
  }

  :root {
    width: 100vw;
    height: auto;
    scroll-behavior: smooth;
    transition: all ease 1s;
  }

  :root::-webkit-scrollbar {
    display: none;
    width: 10px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 100;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .headerHeading {
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    list-style: none;
    gap: 4vw;
    color: white;
    font-family: Roboto-Thin;
  }

  .headerHeading a {
    text-decoration: none;
    color: white;
  }

  .headerHeading li {
    z-index: 20;
    transition: all ease 0.3s;
    font-size: 2.5vh;
    color: white;
    display: flex;
  }

  .headerHeading li:hover {
    transition: all ease 0.3s;
    font-size: 2.7vh;
    filter: invert(0.2);
    transform: scale(1.04);
  }

  .portfolioIcon {
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  .portfolioIcon:hover {
    filter: invert(0.2);
    transform: scale(1.04);
    cursor: pointer;
  }
}
