@media screen and (min-width: 1150px) {

@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto/Roboto-Thin.ttf);
  }



  .returnPortfolioSite {
    display: none;
  }





:root::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
  
  /*
  :root::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
  }
  
  :root::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  :root::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
  }
*/





#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
    opacity: 1;
}







.dontPullMeDialog {
    border-radius: .2vw;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.555);
    border-style: none;
    width: 40%;
    height: fit-content;      
    background-color: rgb(190, 186, 186);
    z-index: 9999;
}

.dontPullMeDialogContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dialogHeadline {
    color: black;
    font: 3vw Roboto-Bold;
}

.dontPullMeDialogCloseButton {
    border-radius: .2vw;
    cursor: pointer;
    border: .01vw solid rgba(0, 0, 0, 0.137);
    background-image: linear-gradient(#1a1a1a 0%, rgba(59, 59, 59, 0.163)0%);
    color: black;
    font: 1vw Roboto-Regular;
    box-shadow: 0 0 .2vw 0 rgba(0, 0, 0, 0.555);
    width: 10vw;
    height: 10vh;
    transition: transform ease .5s;
    margin-bottom: 3vh;
}

.dontPullMeDialogCloseButton:focus {
    outline: none;
  }

.dontPullMeDialogCloseButton:hover {
    transform: scale(1.03);
}











#container1 {
    overflow: hidden;
    background-size: cover;
    background-image: url(Pictures/abdullahSögütBackgroundImage.jpg);
    width: 100dvw;
    height: 100dvh;
}


.aboutMeRight {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    width: max-content;
}


.marqueeAbdullahSoegut {
    animation: opacityAppearance 2s linear;
}  

.marqueecontentAbdullahSoegut {
    user-select: none;
    margin: 0;
    padding: 0;
    font-size: 15vw;
    font-family: Roboto-Bold;
    color: white;
    display: flex;
    list-style: none;
    white-space: nowrap;
}

.marqueecontentAbdullahSoegut li {

    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
0% {
    transform: translateX(-100vw);
}
100% {
    transform: translateX(-216.7dvw);
}
}

@keyframes opacityAppearance {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }








    


    .aboutMeLeft {
        width: 100dvw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    
    .locatedInContainer {
        cursor: pointer;
        width: 19vw;

    }
    
    .locatedInContainerBackground {
        margin-left: -40%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0px .2vw rgba(0, 0, 0, 0.1);
        border: .1vw solid rgba(0, 0, 0, 0);
        border-radius: 3vw;
        height: 6vw;
        background-color: #a79e9752;
        z-index: 20;
    }
    
    .locatedInCountryText {
        user-select: none;
        font: 1vw Roboto-Regular;
        color: white;
        width: 2vw;
    }
    
    .locatedInCountryBackground {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -35%;
        margin-left: 35%;
        background-image: url(Pictures/abdullahSögütBackgroundImage.jpg);
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 4.5vw;
        box-shadow: 0 0 .01vw rgba(0, 0, 0, 0.1);
        border: .01vw solid rgba(0, 0, 0, 0);
        background-position: 20%;
    }
    
    .locatedInCountry {
        filter: invert(1);
        background-image: url(Pictures/homepageLocatedInIcon/locatedInIcon.png);
        width: 3vw;
        height: 3vw;
        background-size: cover;
        animation: rotate360 infinite 15s;
    }

    @keyframes rotate360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    .jobDegreeTextContainer {
        width: 30vw;
    }
    /*
    .jobDegreeTextContainerBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        border: 1.5px solid rgba(0, 0, 0, 0);
        width: inherit;
        height: 100px;
        background-color: #a79e9752;
    }
    */
    .jobDegreeText {
        margin-right: 5%;
        text-align: end;
        overflow-wrap: break-word;
        user-select: none;
        font-family: Roboto-Thin;
        font-size: 5.5vh;
        color: white;
    }

















#container2 {
    background: white;
    height: 70vh;
    width: 100vw;
    left: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    gap: 4rem;
    z-index: 10;
}

.projectOneLeft {
    margin-left: 10%;
    flex-basis: 70%;
}

.projectOneRight {
    margin-right: 10%;
    flex-basis: 30%;
}

.projectOneName {
    overflow-x: hidden;
    font-family: Roboto-Bold;
    color: white;
    font-size: 35px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.projectOneName.show {
    opacity: 1;
}





.projectOneDescription {
    width: 50%;
    position: absolute;
    margin-top: -12%;
    font-family: Roboto-Regular;
    color: black;
    font-size: 5vh;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.projectOneDescription.show {
    opacity: 1;
}


.projectOneDescription.show::after {
    content: '|';
    display: inline-block;
    animation: blinkCursor1 0.7s infinite alternate;
    color: red;
}

@keyframes blinkCursor1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}








.aboutMeButtonHeader {
    font-family: Roboto-Regular;
    color: black;
    font-size: 2vh;
    width: 17vw;
    white-space: wrap;
    margin-top: 15%;
}


.aboutMeButton {
    cursor: pointer;
    font-family: Roboto-Thin;
    font-size: 3.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    position: absolute;
    margin-top: 3%;
    width: 17vw;
    height: 17vw;
    border-radius: 17vw;
    background-image: url(Pictures/abdullahSögütBackgroundImage4.jpg);
    background-size: cover;
    background-position-x: center;
  }
  
.aboutMeButtonBorder {
    width: 17vw;
    height: 17vw;
    z-index: 100;
}




.hrHeader {
    font: 2vh Roboto-Thin;
    color: black;
    left: 15%;
    position: relative;
}



#container3 {
    height: 300vh;
    width: 100vw;
    background-color: white;
    position: relative;
}

.projectSlider {
    font: 6.5vw Roboto-Regular;
    color: black;
	  text-align: center;
    transform-origin: 50% 56%;
    transition: all ease 0.2s;
}







#container4 {

    background-color: wheat;
}

.projectImageSlider1Header {
    z-index: 99999;
    font: 14vh Roboto-Bold;
    color: wheat;
    margin-bottom: -27%;
    margin-top: 0vw;
}

.projectImageSlider1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0;
    bottom: 4%;
    transition: all ease 1s;
    width: 100vw;
}

.projectImageSlider1.show {
    opacity: 1;
}

.projectImageSlider1Images {
    width: 58.59vw;
    height: auto;

}







/*
.projectImageSlider1ButtonListing {
    overflow: hidden;
    list-style: none;
    position: absolute;
    flex-direction: column;
    left: 5vw;
    top: 10vh;
    transition: transform 0.5s ease, height 0.5s ease, width 0.5s ease;
    display: none;
    height : 40.1606vh;
    width : 6dvw;
    padding-top: 9vh;
    padding-bottom : 0;
    padding-left: 0;
    padding-right: 0;
    gap : 4.5vh;
    border-radius : 0.3255vw;
    box-shadow : 0 0px 0.0651vw rgba(245, 222, 179, 1);
    border : 0.0.03255201vw solid wheat;
    font : 0.97656vw Roboto-Regular;
    color : wheat;
  }
  
  .projectImageSlider1ButtonListing.active {
    height : 40.1606vh;
    width : 6dvw;
    padding-top: 9vh;
    padding-bottom : 0;
    padding-left: 0;
    padding-right: 0;
    gap : 4.5vh;
    border-radius : 0.3255vw;
    box-shadow : 0 0px 0.0651vw rgba(245, 222, 179, 1);
    border : 0.0.03255201vw solid wheat;
    font : 0.97656vw Roboto-Regular;
    color : wheat;
    transition: transform 0.5s ease, height 0.5s ease, width 0.5s ease;
    z-index: 999999;
}



  

  .projectImageSlider1ButtonListing li{ 
    text-align: center;
  }



.mp3, 
.typing, 
.toDo, 
.timer,
.clock,
.keyGen {
    cursor: pointer;
}

*/

.projectImageSlider2 {
    overflow: hidden;
    transition: all ease 1s;
    margin-top: 28%;
    display: flex;
    transform: translate(50vw, 0%);
    z-index: 99998;
}


.projectImageSlider2Images {
    transform-origin: bottom;
    transition: all ease .5s;
    width: 50vw;
    height: 70vh;
    object-fit: cover;

}

.projectImageSlider2Images:nth-child(2),
.projectImageSlider2Images:nth-child(3),
.projectImageSlider2Images:nth-child(4) {
    transform: scale(0.5);
    opacity: 0.5;
}

.projectImageSlider2Images:nth-child(2) {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.projectImageSlider2Images:nth-child(2) h2 {
    font: 3vw Roboto-Regular;
}

.projectImageSlider2Images:nth-child(2) p {
    margin-top: -2%;
    font: 2.3vw Roboto-Thin;
}

#projectImageSlider2ImagesAfterPseudoDiv {
--pseudo-Content: "click to try me";
}

#projectImageSlider2ImagesAfterPseudoDiv::before {
    cursor: pointer;
    content: var(--pseudo-Content);
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 2vw Roboto-Thin;
    transition: font ease 1s, background-color ease 1s;
  }

  #projectImageSlider2ImagesAfterPseudoDiv:hover::before {
    font: 2.2vw Roboto-Thin;
    background-color: rgba(0, 0, 0, 0.614);
  }


.prevButton {
    color: rgba(198, 198, 198, 0.247);
    transition: all ease .5s;
    font: 4vw Roboto-Regular;
    cursor: auto;
    z-index: 99999999;
    position: absolute;
    bottom: 35%;
    left: 18%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    /* background-color: rgba(198, 198, 198, 0.247); */
    background: none;
    border-style: none;
}

.nextButton {
    color: wheat;
    transition: all ease .5s;
    font: 4vw Roboto-Regular;
    cursor: pointer;
    z-index: 99999;
    position: absolute;
    bottom: 35%;
    right: 18%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    /* background-color: wheat; */
    background: none;
    border-style: none;
    }















.projectImageSlider1ButtonContainerBackground {
    cursor: pointer;
    display: flex;
    align-items: center;
    animation: popProjects .7s ease-in-out forwards;
    border-radius: 6vw;
    background-color: wheat;
    position: absolute;
    left: 5vw;
    top: 5vh;
    height: 6vw;
    width: 6vw;
    z-index: 999998;
}

.projectImageSlider1ButtonContainerBackgroundText {
    font: 1.5vw Roboto-Thin;
    color: black;
    margin-left: 5%;
}

.projectImageSlider1ButtonContainer {
    /* background-image: url(Bilder/menue.png);
    background-size: cover; */
    height: 2.5vw;
    width: 2.5vw;
    z-index: 999999;
}



@keyframes projectsDialogOpener {
    from {
      opacity: 1;
      transform: translateX(-37vw);
    }
    to {
      transform: scale(1);
      transform: translateX(0vw);
      opacity: 1;
    }
  }
  
  
  @keyframes projectsDialogCloser {
    from {
      opacity: 1;
      transform: translateX(0vw);
    }
    to {
          transform: scale(1);
      transform: translateX(-37vw);
      opacity: 1;
    }
  }


  .projectImageSlider1ButtonListingNew {
    cursor: auto;
    scrollbar-width: thin;
    scrollbar-color: #999 #f1f1f1;
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    background-color: #1C1D20;
    width: 20vw;
    height: 100vh;
    transition: all 2.5s;
    user-select: none;
    font-family: Roboto-Regular;
    font-size: 20px;
    animation: projectsDialogOpener .7s ease-in-out backwards;
    outline: none;
    overflow: hidden;
    margin-top: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
  }
  
  
  
  .projectImageSlider1ButtonListingNew:-internal-dialog-in-top-layer {
    max-width: 100% ;
    max-height: 100%;
  }
  
.projectImageSlider1ButtonListingNew.closed {
    animation: projectsDialogCloser 0.3s ease-in-out backwards;
  }
  
  
.projectImageSlider1ButtonListingNew::backdrop {
    transition: all ease .5s;
    user-select: none;
  }
  
  .dialogCloseButtonProjects {
    cursor: pointer;
    width: 2.6vw;
    height: 2.6vw;
    position: absolute;
    top: 5%;
    left: 80%;
    transition: all ease 1s;
    filter: invert(1);
    z-index: 99999;
  }
  
  
  .dialogCloseButtonProjects:hover {
    filter: invert(0.5);
    transition: all ease 1s;
    transform: scale(1.07);
  }
  
  
  #dialogHeaderProjects {
  /* Top und Sticky machen HeaderElemente Sticky */
    display: flex;
    width: 65.76vw;
    height: 13.39vh;
    z-index: 10;
  }
  
  #dialogHeadlineProjects {
    text-shadow:  0 0 0.65vw rgba(0, 0, 0, 0.1);;
    color: white;
    font: 1vw Roboto-Thin;
    margin-left: 2.5%;
    margin-top: 7%;
  }
  
  .dialogHeaderHrProjects {
    margin-top: 0%;
    width: 90%;
    border: rgba(255, 255, 255, 0.537) solid .1vh;
    box-sizing: border-box;
  }
  
  
  
  #dialogHeaderListingProjects {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }
  
  #dialogHeaderListingProjects a {
    text-decoration: none;
    color: white;
  }
  
  #dialogHeaderListingProjects a:focus {
    outline: none;
  }
  
  #dialogHeaderListingProjects li {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 74.5%;
    z-index: 20;
    transition: all ease 0.3s;
    font-size: 8vh;
    color: white;
  }
  
.mp3,
.typing,
.toDo,
.timer,
.clock,
.keyGen {
  width: 100%;
    cursor: pointer;
    list-style: none;
    border-bottom: 0.13vw solid transparent;
    transition: border-bottom 0.5s ease;
  }
  
.mp3:hover,
.typing:hover,
.toDo:hover,
.timer:hover,
.clock:hover,
.keyGen:hover {
  list-style: disc;
  }

}