@media screen and (min-width: 450px) and (max-width: 1150px) {

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'Roboto-Regular';
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Thin';
    src: url(../../assets/fonts/Roboto/Roboto-Thin.ttf);
  }

































:root {

    width: 100vw;
    height: 100vh;
    height: auto;
    scroll-behavior: smooth;
    transition: all ease 1s;

}

:root::-webkit-scrollbar {
  display: none;
  width: 10px;
}

  body {
    margin: 0;
    padding: 0;
}



  #footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    z-index: 999999;
    background-color: #1a1a1a;
}

.abdullahfooterIconAndfooterHeader {
    height: 15.6vw;
    display: flex;
    margin: 0% 7% 0 7%;
}

.abdullahfooterIcon {
    margin: 0px 1.2vw -1.4vw 0;
    width: 15.6vw;
    height: 15.6vw;
    object-fit: cover;
    border-radius: 15.6vw;
}

.footerHeader { 
    text-shadow: 0 0px 1vh rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 9vh;
    font-family: Roboto-Thin;
}


.footerButtonsArea {
    margin-left: 10%;
    margin-top: 43%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    height: 35.6vw;
}

.phoneNumber {
    margin-top: 25%;
    cursor: pointer;
    width: 80vw;
    height: 15vw;
    box-shadow: 0 0px 0.1vw rgba(199, 199, 199, 0.537);
    border: 0.01vh solid rgba(199, 199, 199, 0.537);
    border-radius: 1vw;
    background-color: transparent;
    color: white;
    font-size: 3vw;
    font-family: Roboto-Regular;
    transition: all ease 1s;
}

.phoneNumber:hover {
  font-size: 3.1vw;
  box-shadow: 0 0px .5vw rgba(199, 199, 199, 0.537);
}

.emailAdress {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0px 0.1vw rgba(199, 199, 199, 0.537);
    border: 0.01vh solid rgba(199, 199, 199, 0.537);
    border-radius: 1vw;
    width: 80vw;
    height: 15vw;
    color: white;
    font-size: 3vw;
    font-family: Roboto-Regular;
    transition: all ease 1s;
}

.emailAdress:hover {
  font-size: 3.1vw;
  box-shadow: 0 0px .5vw rgba(199, 199, 199, 0.537);
}

hr {
    margin-top: 20%;
    width: 85%;
    border: rgba(199, 199, 199, 0.537) solid 0.01vh;
    box-sizing: border-box;
}

.clockHeader {
    position: absolute;
    left: 3.5%;
    bottom: 6%;
    color: rgb(153, 153, 153);
    font-size: 2vw;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}


#digitalTime {
    position: absolute;
    left: 3.5%;
    bottom: 4%;
    color: white;
    font-size: 2vw;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}


.footerLinksHeader {
    position: absolute;
    right: 5.2%;
    bottom: 6%;
    color: rgb(153, 153, 153);
    font-size: 2vw;
    font-family: Roboto-Bold;
    text-align: start;
    white-space: nowrap;
    width: 3vw;
}

#footerLinksUl {
    position: absolute;
    right: 3.5%;
    bottom: 2%;
    font-size: 2vw;
    font-family: Roboto-Regular;
    color: white;
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 0 2vw;
}

#footerLinksUl li {
    transition: all ease 1s;
}

#footerLinksUl li:hover {
    transform: scale(1.3);
    filter: invert(0.2);
}


#footerLinksUl li a {
color: white;
text-decoration: none;
}
}