@media screen and (min-width: 450px) and (max-width: 1150px) {
    @font-face {
        font-family: "Roboto-Bold";
        src: url(../../fonts/Roboto/Roboto-Bold.ttf);
    }

    @font-face {
        font-family: "Roboto-Medium";
        src: url(../../fonts/Roboto/Roboto-Medium.ttf);
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url(../../fonts/Roboto/Roboto-Regular.ttf);
    }
    @font-face {
        font-family: "Roboto-Light";
        src: url(../../fonts/Roboto/Roboto-Light.ttf);
    }

    @font-face {
        font-family: "Roboto-Thin";
        src: url(../../fonts/Roboto/Roboto-Thin.ttf);
    }

    #container1 {
        overflow: hidden;
        background-size: cover;
        width: 100dvw;
        background-color: black;
    }

    .container1Container {
        transform: translateY(2rem);
        opacity: 0;
        transition: all ease 1s;
        height: min-content;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2vh;
        background-color: white;
        z-index: 9999;
        width: 90vw;
        margin: 15% auto 0 auto;
    }

    .container1Container.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .container1ContainerHeader {
        margin: 5% 0 5% 5%;
        font: 10vw Roboto-Regular;
        width: 90%;
    }

    .firstElementContainer,
    .secondElementContainer,
    .thirdElementContainer,
    .fourthElementContainer,
    .fifthElementContainer,
    .sixthElementContainer {
        height: 75vw;
        margin: 0% 0 5% 5%;
    }

    .seventhElementContainer {
        height: 5vw;
        margin: 0% 0 25% 5%;
    }

    .firstElement,
    .secondElement,
    .thirdElement,
    .fourthElement,
    .fifthElement,
    .sixthElement {
        transition: all ease 1s;
        opacity: 0.16;
        width: 6vw;
        height: 12vw;
        border-radius: 3vw;
        background-color: black;
        z-index: 999;
        position: relative;
    }

    .seventhElement {
        opacity: 0.16;
        width: 2.5vw;
        width: 6vw;
        height: 12vw;
        border-radius: 3vw;
        background-color: black;
        z-index: 999;
        position: relative;
    }

    .firstElement.show,
    .secondElement.show,
    .thirdElement.show,
    .fourthElement.show,
    .fifthElement.show,
    .sixthElement.show {
        opacity: 1;
    }

    .seventhElement.show {
        background-color: rgb(0, 183, 0);
        animation: scaleAppearance 0.5s ease;
        opacity: 1;
    }

    @keyframes scaleAppearance {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.2);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .firstElement::after,
    .secondElement::after,
    .thirdElement::after,
    .fourthElement::after,
    .fifthElement::after,
    .sixthElement::after {
        color: white;
        font: 2.5vw Roboto-Regular;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .seventhElement::after {
        color: white;
        font: 2.5vw Roboto-Regular;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .firstElement::after {
        content: "01";
    }

    .secondElement::after {
        content: "02";
    }

    .thirdElement::after {
        content: "03";
    }

    .fourthElement::after {
        content: "04";
    }

    .fifthElement::after {
        content: "05";
    }

    .sixthElement::after {
        content: "06";
    }

    .seventhElement::after {
        content: "07";
    }

    .firstElementLine,
    .secondElementLine,
    .thirdElementLine,
    .fourthElementLine,
    .fifthElementLine,
    .sixthElementLine {
        margin: 50% auto 50% auto;
        background-image: linear-gradient(black 0px, lightGrey 0%);
        opacity: black;
        height: 82%;
        width: 0.2vw;
        transition: all ease 1s;
        z-index: 998;
    }

    .sixthElementLine {
        margin: 50% auto 50% auto;
        background-image: linear-gradient(rgb(0, 183, 0) 0px, lightGrey 0%);
        opacity: black;
        height: 82%;
        width: 0.2vw;
        transition: all ease 1s;
        z-index: 998;
    }

    .aboutMePageIntroductoryHeader,
    .aboutMePageIntroductoryHeader1,
    .aboutMePageIntroductoryHeader2,
    .aboutMePageIntroductoryHeader3,
    .aboutMePageIntroductoryHeader4,
    .aboutMePageIntroductoryHeader5 {
        transform: translateY(2rem);
        opacity: 0;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 10vw;
        font: 10vw Roboto-Regular;
        color: black;
        width: 80vw;
        transition: all ease 1s;
        z-index: 999;
    }

    .aboutMePageIntroductoryHeader6 {
        cursor: pointer;
        background-color: white;
        transform: translateY(2rem);
        opacity: 0;
        display: flex;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 10vw;
        font: 3vw Roboto-Thin;
        color: black;
        width: 40vw;
        height: 12vw;
        border-radius: 12vw;
        border: 0.001vw solid rgba(0, 0, 0, 0.141);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.384);
        justify-content: center;
        align-items: center;
        transition: all ease 1s;
        z-index: 999;
    }

    .aboutMePageIntroductoryHeader.show,
    .aboutMePageIntroductoryHeader1.show,
    .aboutMePageIntroductoryHeader2.show,
    .aboutMePageIntroductoryHeader3.show,
    .aboutMePageIntroductoryHeader4.show,
    .aboutMePageIntroductoryHeader5.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .aboutMePageIntroductoryHeader6.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .aboutMePageIntroductoryHeader6:hover {
        color: rgba(0, 0, 0, 0.437);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.384);
    }

    .aboutMePageIntroductoryText,
    .aboutMePageIntroductoryText1,
    .aboutMePageIntroductoryText2,
    .aboutMePageIntroductoryText3,
    .aboutMePageIntroductoryText4,
    .aboutMePageIntroductoryText5 {
        transform: translateY(2rem);
        opacity: 0;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 10vw;
        font: 4.8vw Roboto-Light;
        color: black;
        width: 70vw;
        transition: all ease 1s;
        z-index: 999;
    }

    .aboutMePageIntroductoryText3 a {
        list-style: none;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s ease;
    }

    .aboutMePageIntroductoryText3 a:hover {
        border-bottom: 2px solid black;
    }

    .aboutMePageIntroductoryText5 strong a {
        list-style-type: none;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s ease;
    }

    .aboutMePageIntroductoryText5 a:hover {
        border-bottom: 2px solid black;
    }

    .seventhElementCVGit {
        width: 80vw;
        display: flex;
    }

    .cVIcon,
    .gitHubIcon {
        margin-left: 1%;
        width: 4vw;
        height: 4vw;
    }

    .aboutMePageIntroductoryText6 {
        cursor: pointer;
        background-color: rgba(0, 183, 0, 0.538);
        transform: translateY(2rem);
        opacity: 0;
        display: flex;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-left: 5.2vw;
        font: 3vw Roboto-Thin;
        color: black;
        width: 40vw;
        height: 12vw;
        border-radius: 12vw;
        border: 0.001vw solid rgba(0, 0, 0, 0.141);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.384);
        justify-content: center;
        align-items: center;
        transition: all ease 1s;
        z-index: 999;
    }

    .aboutMePageIntroductoryText.show,
    .aboutMePageIntroductoryText1.show,
    .aboutMePageIntroductoryText2.show,
    .aboutMePageIntroductoryText3.show,
    .aboutMePageIntroductoryText4.show,
    .aboutMePageIntroductoryText5.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .aboutMePageIntroductoryText6.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .aboutMePageIntroductoryText6:hover {
        background-color: rgba(0, 183, 0, 0.848);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.384);
    }

    /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
    .fixed-image {
        transform: translateY(2rem);
        opacity: 0;
        position: absolute;
        background-size: cover; /* Ändern Sie 'cover' zu 'contain' */
        background-position: center left;
        width: 80%;
        height: 100%;
        transition: all ease 1s;
        z-index: 99;
        top: 0%;
        right: 0%;
        margin-bottom: var(--scroll-padding);
        z-index: -1;
    }

    .fixed-image.show {
        transform: translateY(0rem);
        opacity: 1;
    }

    .degrees {
        margin-top: 10%;
        width: 100dvw;
        height: fit-content;
    }

    .degreesHR {
        border: rgba(255, 255, 255, 0.516) solid 0.001vw;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0;
    }

    .degreesHeader {
        margin-left: 10%;
        font: 6vw Roboto-Regular;
        color: white;
        margin-bottom: 0%;
    }

    .school,
    .university {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5%;
        transform: translateX(-50.375vw);
    }

    .schoolLogo,
    .universityLogo {
        transition: all ease 1s;
        opacity: 0;
        object-position: center;
        object-fit: contain;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 50.375vw;
    }

    .schoolTitle,
    .universityTitle {
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
        font: 6.5vw Roboto-Bold;
        color: white;
    }

    .schoolDuration,
    .universityDuration {
        width: 90%;
        font: 2.5vw Roboto-Thin;
        color: white;
    }

    /*
linear-gradient(rgb(17, 14, 17) 0%, rgb(11, 7, 11) 100%);
transform: perspective(1200px) translateX(0px) translateY(270.944px) scale(1) rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
*/

    .workExperience {
        width: 100%;
        height: 100vw;
    }

    .workExperienceHeader {
        margin-left: 10%;
        margin-top: 8%;
        font: 10vw Roboto-Thin;
        color: white;
    }

    .workExperienceGridBox {
        margin-top: -5%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        gap: 5vw;
        grid-template-areas:
            "work1"
            "work2"
            "work3"
            "work4"
            "work5"
            "work6";
    }

    .work1,
    .work2,
    .work3,
    .work4,
    .work5,
    .work6 {
        border-radius: 1.302vw;
        padding: 10%;
        box-shadow: 0 0px 0.065vw rgba(255, 255, 255, 0.2);
        border: 0.0325vw solid rgba(0, 0, 0, 0.198);
        background: linear-gradient(rgb(33, 33, 33) 0%, rgb(10, 10, 10) 100%);
        position: relative;
    }

    .work1:hover::before,
    .work2:hover::before,
    .work3:hover::before,
    .work4:hover::before,
    .work5:hover::before,
    .work6:hover::before {
        opacity: 1;
        z-index: 99999;
    }

    .work1::before,
    .work2::before,
    .work3::before,
    .work4::before,
    .work5::before,
    .work6::before {
        background: radial-gradient(
            52.08vw circle at var(--mouse-x) var(--mouse-y),
            rgba(175, 175, 175, 0.145),
            transparent 40%
        );
        border-radius: inherit;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 500ms;
        z-index: 99999;
    }

    .work1 {
        grid-area: work1;
    }
    .work2 {
        grid-area: work2;
    }
    .work3 {
        grid-area: work3;
    }
    .work4 {
        grid-area: work4;
    }
    .work5 {
        grid-area: work5;
    }
    .work6 {
        grid-area: work6;
    }

    .work1Title,
    .work2Title,
    .work3Title,
    .work4Title,
    .work5Title,
    .work6Title,
    .work7Title {
        font: 5vw Roboto-Bold;
        color: white;
        margin-bottom: 10%;
        margin-top: -5%;
    }

    .work1Description,
    .work2Description,
    .work3Description,
    .work4Description,
    .work5Description,
    .work6Description,
    .work7Description {
        outline: none !important;
        color: white !important;
        text-decoration: none !important;
        margin-top: -7%;
        font: 2.5vw Roboto-Thin;
        color: white;
    }

    .work1DescriptionEnumeration,
    .work2DescriptionEnumeration,
    .work3DescriptionEnumeration,
    .work4DescriptionEnumeration,
    .work5DescriptionEnumeration,
    .work6DescriptionEnumeration,
    .work7DescriptionEnumeration {
        outline: none !important;
        text-decoration: none !important;
        color: white !important;
        margin-top: -5%;
        font: 2.5vw Roboto-Thin;
        color: white;
        justify-content: space-between;
        padding: 0.716vw;
    }

    .work1DescriptionEnumeration:focus,
    .work2DescriptionEnumeration:focus,
    .work3DescriptionEnumeration:focus,
    .work4DescriptionEnumeration:focus,
    .work5DescriptionEnumeration:focus,
    .work6DescriptionEnumeration:focus,
    .work7DescriptionEnumeration:focus {
        outline: none !important;
        text-decoration: none !important;
        color: white !important;
        margin-top: -5%;
        font: 2.5vw Roboto-Thin;
        color: white;
        justify-content: space-between;
        padding: 0.716vw;
    }

    #container6 {
        height: 100vw;
        width: 100vw;
        display: flex;
        background-color: black;
    }

    #container7 {
        height: 345vw;
        width: 100vw;
        display: flex;
        background-color: black;
    }
}
