@media screen and (max-width: 450px) {
    @font-face {
        font-family: "Graphik1";
        src: url(../assets/fonts/Graphik-Font-Family/GraphikMedium.otf);
    }

    @font-face {
        font-family: "Graphik0";
        src: url(../assets/fonts/Graphik-Font-Family/GraphikLight.otf);
    }

    @font-face {
        font-family: "Graphik2";
        src: url(../assets/fonts/Graphik-Font-Family/GraphikRegular.otf);
    }

    @font-face {
        font-family: "Roboto-Thin";
        src: url(../../../../assets/fonts/Roboto/Roboto-Thin.ttf);
    }

    .returnPortfolioSite {
        z-index: 999;
        cursor: pointer;
        position: absolute;
        top: 2%;
        left: 2%;
        width: 6vw;
        height: 12vh;
        color: rgba(0, 0, 0, 0.656);
        font: 4vw Roboto-Thin;
        writing-mode: vertical-rl; /* Vertikale Ausrichtung von rechts nach links */
        text-orientation: upright;
        transition: transform ease 1s;
        background-color: rgba(245, 222, 179, 0.74);
        border-radius: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .returnPortfolioSite:hover {
        transform: translateY(-5px) scale(1.01);
    }

    #testElement {
        color: white;
    }

    :root {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    #fileInput {
        display: none;
    }

    #addSongButton {
        position: absolute;
        bottom: 40%;
        right: 4%;
        width: 8vw;
        height: 8vw;
        cursor: pointer;
        transition: 0.25s all ease;
        filter: brightness(0) invert(1);
        user-select: none;
    }

    #addSongButton:hover {
        transform: scale(1.1);
    }

    #playerContainer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        transition: 1s all ease;
    }

    #playerContainer::before {
        top: 0%;
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: var(
            --background-image,
            url(../assets/images/defaultSongCover.jpg)
        );
        background-size: cover;
        filter: blur(3vw);
        transform: scale(1.2);
        z-index: -1;
        transition: 1s all ease;
    }

    #playerContainer::after {
        transition: 1s all ease;
    }

    #playerControls {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #currentSong {
        background-image: url("../assets/images/defaultSongCover.jpg");
        background-size: cover;
        z-index: 1;
        height: 40vh;
        width: 40vh;
        margin-bottom: 2vh;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.022);
        background-position: center;
        background-size: cover;
        transition: all ease 0.1s;
    }

    #dialogSection {
        box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
        background-color: rgba(0, 0, 0, 0.11);
        border: 0.5px solid rgba(0, 0, 0, 0.198);
        width: 100vw;
        height: 39vh;
    }

    @keyframes dialogPop {
        from {
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes dialogClose {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
        }
    }

    .dialog-button {
        cursor: pointer;
        display: flex;
        width: 7vw;
        margin: 4vw 0 0 5vw;
        transition: all ease 1s;
    }

    .dialog-button:hover {
        transform: scale(1.06);
        filter: brightness(1) invert(0.3);
    }

    #fileListDialog {
        position: fixed;
    }

    dialog {
        scrollbar-width: thin;
        scrollbar-color: #999 #f1f1f1;
        border-radius: 10px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgba(0, 0, 0, 0.198);
        background-color: #f2f2f2fc;
        border-radius: 5px;
        width: 95%;
        height: 95vh;
        transition: all 2.5s;
        user-select: none;
        font-family: Graphik2;
        font-size: 4vw;
        animation: dialogPop 0.3s ease-in-out forwards;
    }

    dialog.closed {
        animation: dialogClose 0.3s ease-in-out forwards;
    }

    dialog::backdrop {
        transition: all ease 0.5s;
        user-select: none;
    }

    .dialog-close-button {
        width: 9vw;
        height: 9vw;
        position: absolute;
        top: 24%;
        left: 5%;
        transition: all ease 1s;
        filter: invert(0.2);
        z-index: 9999;
    }

    .dialog-close-button:hover {
        filter: invert(0.5);
        transition: all ease 1s;
        transform: scale(1.07);
    }

    #dialogHeader {
        position: sticky;
        top: -3%;
        width: 100%;
        height: 18vw;
        z-index: 10;
        background-color: #f2f2f2fc;
    }

    #dialogTitle {
        padding-top: 5%;
        text-shadow: 0 0px 1vw rgba(0, 0, 0, 0.1);
        font-size: 8vw;
        font-family: Graphik1;
    }

    div[data-index] img {
        flex-basis: 30%;
    }

    div[data-index] p {
        flex-basis: 70%;
    }

    #artistName {
        font-family: Graphik1;
        margin-top: -4vh;
        color: white;
        text-shadow: 0.5px 0.5px 0.5px black;
        font-size: 6.5vw;
        transition: all ease 0.4s;
    }

    #albumName {
        font-family: Graphik0;
        margin-top: 0.5vh;
        color: white;
        text-shadow: 0.5px 0.5px 0.5px black;
        font-size: 4vw;
        transition: all ease 1s;
    }

    #songTitle {
        font-family: Graphik2;
        margin-top: 0.5vh;
        color: white;
        text-shadow: 0.5px 0.5px 0.5px black;
        font-size: 5.5vw;
        transition: all ease 0.4s;
    }

    #testElement {
        padding-top: 1vh;
        font-size: 3vw;
        font-family: Graphik0;
    }

    #rewindButton {
        background-size: cover;
        margin: 0 8vw 0 0;
        z-index: 1;
        cursor: pointer;
        width: 7vw;
        height: 7vw;
        filter: brightness(0) invert(1);
        user-select: none;
        transition: all ease 0.15s;
        transform: rotate(360deg);
    }

    #backButton {
        margin-bottom: -0.15vh;
        background-size: cover;
        z-index: 1;
        cursor: pointer;
        width: 11vw;
        height: 11vw;
        filter: brightness(0) invert(1);
        user-select: none;
    }

    #stopButton {
        transition: src 0.5s ease;
        margin: 2vh 9vw 0 10vw;
        color: white;
        z-index: 1;
        width: 10vw;
        height: 10vw;
        cursor: pointer;
        filter: brightness(0) invert(1);
        user-select: none;
    }

    #forwardButton {
        margin-bottom: -0.3vh;
        background-size: cover;
        z-index: 1;
        cursor: pointer;
        width: 11vw;
        height: 11vw;
        filter: brightness(1) invert(1);
        user-select: none;
    }

    #fastForwardButton {
        background-size: cover;
        margin-left: 8vw;
        z-index: 1;
        cursor: pointer;
        width: 7vw;
        height: 7vw;
        filter: brightness(1) invert(1);
        user-select: none;
        transition: all ease 0.15s;
        transform: rotate(0deg);
    }

    #shuffleAutoplayControls {
        display: flex;
        margin-top: 4%;
    }

    #shuffleAutoplayLeft {
        flex-basis: auto;
        margin: auto 4% auto auto;
    }

    .auto-play-control {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgba(0, 0, 0, 0.198);
        border-radius: 5px;
        width: 18vw;
        height: 5.3vh;
        cursor: pointer;
        transition: all ease 0.4s;
        user-select: none;
        z-index: 10;
    }

    .autoPlayButtonOn {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.563);
        border: 0.5px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 18vw;
        height: 5.3vh;
        cursor: pointer;
        transition: all ease 0.4s;
        z-index: 10;
        user-select: none;
    }

    .auto-play-icon {
        height: 100%;
        vertical-align: middle;
        width: 8vw;
        filter: invert(1);
        transition: all ease 0.4s;
        z-index: 8;
    }

    .autoPlayButtonImageOn {
        height: 100%;
        vertical-align: middle;
        width: 8vw;
        z-index: 8;
        transition: all ease 0.4s;
        filter: invert(1);
    }

    #shuffleAutoplayRight {
        flex-basis: auto;
        margin: auto auto auto 4%;
    }

    .random-song-control {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgba(0, 0, 0, 0.198);
        border-radius: 5px;
        width: 18vw;
        height: 5.3vh;
        cursor: pointer;
        z-index: 10;
        transition: all ease 0.4s;
        user-select: none;
    }

    .randomSongBackgroundOn {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.563);
        border: 0.5px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 18vw;
        height: 5.3vh;
        cursor: pointer;
        transition: all ease 0.4s;
        z-index: 10;
        user-select: none;
    }

    #randomSongIcon {
        height: 100%;
        vertical-align: middle;
        filter: invert(1);
        width: 6vw;
        z-index: 8;
        transition: all ease 0.4s;
        user-select: none;
    }

    #randomSongOn {
        height: 100%;
        vertical-align: middle;
        filter: invert(1);
        width: 6vw;
        transition: all ease 0.4s;
        z-index: 8;
        user-select: none;
    }

    br {
        display: none;
    }

    #currentTime {
        position: absolute;
        left: 5%;
        bottom: 3%;
        font-family: Graphik0;
        font-size: 4vw;
        color: white;
        text-shadow: 0.5px 0.5px 0.5px black;
        cursor: pointer;
    }

    input[type="range"] {
        margin-top: 3vh;
        cursor: pointer;
        overflow: hidden;
        width: 3vw;
        -webkit-appearance: none;
        background-color: rgba(128, 128, 128, 0.667);
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 3vw;
        -webkit-appearance: none;
        height: 1vh;
        background: #ffffff;
        box-shadow: -51vw 0 0 51vw #ffffffaf;
    }

    #progressSlider {
        width: 90vw;
        cursor: pointer;
    }

    #totalTime {
        position: absolute;
        right: 5%;
        bottom: 3%;
        font-family: Graphik0;
        font-size: 4vw;
        color: white;
        text-shadow: 0.5px 0.5px 0.5px black;
        cursor: pointer;
    }
}
