@font-face {
    font-family: 'Graphik1';
    src: url(fonts/Graphik-Font-Family/GraphikMedium.otf);
}

@font-face {
    font-family: 'Graphik0';
    src: url(fonts/Graphik-Font-Family/GraphikLight.otf);
}

@font-face {
    font-family: 'Graphik2';
    src: url(fonts/Graphik-Font-Family/GraphikRegular.otf);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
    /* ... andere CSS-Regeln ... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

:root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(-340deg, rgba(255, 0, 128, 0.3) 10%, transparent 25%, transparent 55%, rgba(255, 0, 0, 0.3) 0%, rgba(0, 221, 255, 0.3) 75%, transparent 10%);
    transform: var(--rotation);
    filter: blur(100px); 
  } 

body {
text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 450px;
    width: 700px;
    border: solid 1px black;
    box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.198);
}

h1 {
    font-size: 70px;
    font-family: Graphik1;
    align-items: center;
    order: -1;
}
    
#clear {
   font-family: Graphik2;
   position: relative;
   background-color: #ffffffa6;
   box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
   border-radius: 2px;
   border: 0.5px solid rgba(0, 0, 0, 0.198);
   width: 70%;
   cursor: pointer;
   height: 35px;
   z-index: 5;
   font-size: 20px;
}

#stoppen {
    font-family: Graphik2;
    cursor: pointer;
    position: relative;
    background-color: #ffffffa6;
    box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.198);
    width: 70%;
    height: 35px;
    z-index: 4;
    font-size: 20px;
}

#weiter {
    margin: 4px 0 4px 0;
    position: relative;
    background-color: #ffffffa6;
    box-shadow: 0 0px 10px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.198);
    cursor: pointer;
    font-family: Graphik2;
    width: 70%;
    height: 35px;
    font-size: 18px;
    transition: ease 0.5s;
    z-index: 6;
    font-size: 20px;
}